{% extends "homesite/base2.html" %}

{% block body %}
            <table class="score">
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Satisfaction Level</th>
                </tr>
                {% for review in reviews  %}
                <tr>
                    <td>{{review.username}}</td>
                    <td>{{review.content}}</td>
                    <td>{{review.satisfaction}}</td>
                </tr>
                {%  endfor %}
            </table>
{% endblock %}