<!DOCTYPE HTML>

{% extends "homesite/base2.html" %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container">
    <div class="row" style="justify-content: center; display: center;">
        <img src="https://cdn.discordapp.com/attachments/783082777020203061/789243030233415680/sushiface.png" alt="sushi" width="750" height="350">
        <div class="col" style="padding-left: 38%; padding-bottom: 50%;">
            <div>
                <h1>Sign in</h1>
            </div>
            <hr>

            <form action="/login" enctype="text/plain, application/x-www-form-urlencoded, multipart/form-data" method="POST">
                <p>Username:</p>
                <p><input type="text" name="nm"></p>
                <p>(in progress)Password:</p>
                <p><input type="text" name="ps"></p>
                <p><input type="submit" value="submit"></p>
            </form>

        </div>
    </div>
</div>


{% endblock %}