<!DOCTYPE HTML>
{% extends "homesite/base2.html" %}

{% block body %}
<style>
/* Style the body */
body {
  font-family: Times New Roman;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: black;
  font-size: 30px;
}
/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Project Plan</h1>
  <p>Everything we aspire to complete</p>
</div>
  <div class="container">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vT8ZdmyJhkG7tECjw887Yvo5qYV792QXOokIaIqYTkf-x2_xGPDqUuwfD0ZYQWQfA-FEFd94aq16kMi/pub?embedded=true" style="height:680px;width:900px;"></iframe>
  </div>
{% endblock %}

{% block style %}
{% endblock %}
