<table>
    <thead>
        <tr>
            <th>Device Name</th>
            <th>IP</th>
            <th>Status<br></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Test1</td>
            <td>184.23.23.75</td>
            <td>False<br></td>
        </tr>
        <tr>
            <td>Test2</td>
            <td>8.8.8.8</td>
            <td>True<br></td>
        </tr>
        <tr>
            <td>Test3</td>
            <td>8.8.4.4</td>
            <td>True<br></td>
        </tr>
        <tr>
            <td>Test4</td>
            <td>12.12.12.12</td>
            <td>False<br></td>
        </tr>
        <tr>
            <td>Test5</td>
            <td>112.90.90.90</td>
            <td>False<br></td>
        </tr>
        <tr>
            <td>Test6</td>
            <td>127.0.0.1</td>
            <td>True<br></td>
        </tr>
    </tbody>
</table>