{% extends "homesite/base2.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h1>Upload an image</h1>
      </div>
      <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Select image</label>
        </div>
        <div class="custom-file">
          <input type="file" name="file" id="file" class="inputfile" />
            <label for="file">Choose a file</label>
          <div class="review" style="color: black;">
            </br><h3>Name</h3><input type="text" name="title" style="">
            <br> 
          </div>
          <br><button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #bd5ae0;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #b72ee8;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
</style>

{% endblock %}
