<!DOCTYPE html>

{% extends "easteregg/base.html" %}

{% block body %}
<body>

<div class="header">
    <h1>Crossover Report</h1>
</div>
<div class="container">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRwawAHBNCZnOYiw5fSX3V9rPDvEs3TzzX3YbfJeaoIls8Dua0ipmria-KOL0knumI8w9WxLtCLPZEw/pub?embedded=true" style="height:900px;width:850px;"></iframe>
</div>

{% endblock %}

{% block style %}
<style>
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

body {
    font-family: Times New Roman;
    margin: 0;
}

.header {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.content {padding:20px;}
</style>
{% endblock %}